@media screen and (max-width:576px) {
    .menu-bar{
        visibility: visible;
        margin-right: 5px;
    }
    .header-items{
         visibility: hidden;
    }
    .Popular-tours-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popular-tours-image img{
       
    }
}