@media screen and (max-width:576px) {
    .menu-bar{
        visibility: visible;
        margin-right: 5px;
    }
    .header-items{
         visibility: hidden;
    }
    .Popular-tours-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .popular-tours-image img{
      
       width: 50%;
    }
    .Popular-tours,.popular-tours-title{
        font-size: 15px;
    }
}