@media screen and (max-width:576px) {
    .menu-bar{
        visibility: visible;
        margin-right: 5px;
    }
    .header-items{
         visibility: hidden;
    }
    .Popular-tours-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .Popular-tours,.popular-tours-title{
        font-size: 15px;
    }
    .content{
        flex-direction: column ;
    }
    .grid-card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 10px;
        width: 100%;
    }
    .deals-discounts-image-content{
        width: 3125%;
        height: 1250%;
        
     }
}